/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body,
button,
input,
select,
textarea {
  /* font-weight: 300; */
  font-size: 14px;
  font-family: 'LXGW WenKai Screen', sans-serif;
}

.hanzi-container {
  position: relative;
  width: 100vw;
  user-select: none;

  display: grid;
  grid-template-rows: auto auto 1fr minmax(5rem, auto);



  & .top-bar {
    position: sticky;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 48px;
    align-items: center;

    color: #fff;
    background-color: #eb5e28;

    padding-left: 1rem;
    padding-right: 1rem;

    & .title {
      text-align: center;
      font-size: 1.5rem;
    }

    & .btn {
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px;
      min-width: 3rem;
      text-align: center;
    }
  }

  & .hanzi {
    display: flex;
    justify-content: center;

    font-size: 8rem;
    line-height: 1;
    padding: 2rem;
  }

  & .explanations {
    padding: 1rem;

    word-break: break-all;
    line-height: 2;
    font-size: 1.5rem;

    & p[row-index='0'] {
      font-size: 2rem;
    }
  }

  & .pinyins {
    padding: 1rem;
    display: inline-flex;
    font-size: 2rem;
    gap: 12px;

    & .tag {
      border-radius: 4px;
      border: 1px solid #ccc;
      padding: 6px 8px;
    }
  }

  & .next-button {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  & .btn,
  & .next-button {
    &:not(:active) {
      transition: background-color 100ms step-end;
    }

    &:active {
      background: rgba(235, 94, 40, 0.5);
    }
  }
}
