body,
button,
input,
select,
textarea {
  /* font-weight: 300; */
  font-size: 14px;
  font-family: 'LXGW WenKai Screen', sans-serif;
}

.hanzi-container {
  position: relative;
  width: 100vw;
  user-select: none;

  display: grid;
  grid-template-rows: auto auto 1fr minmax(5rem, auto);

  & .top-bar {
    position: sticky;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 48px;
    align-items: center;

    color: #fff;
    background-color: #eb5e28;

    padding-left: 1rem;
    padding-right: 1rem;

    & .title {
      text-align: center;
      font-size: 1.5rem;
    }

    & .btn {
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px;
      min-width: 3rem;
      text-align: center;
    }
  }

  & .hanzi {
    display: flex;
    justify-content: center;

    font-size: 8rem;
    line-height: 1;
    padding: 2rem;
  }

  & .explanations {
    padding: 1rem;

    word-break: break-all;
    line-height: 2;
    font-size: 1.5rem;

    & p[row-index='0'] {
      font-size: 2rem;
    }
  }

  & .pinyins {
    padding: 1rem;
    display: inline-flex;
    font-size: 2rem;
    gap: 12px;

    & .tag {
      border-radius: 4px;
      border: 1px solid #ccc;
      padding: 6px 8px;
    }
  }

  & .next-button {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  & .btn,
  & .next-button {
    &:not(:active) {
      transition: background-color 100ms step-end;
    }

    &:active {
      background: rgba(235, 94, 40, 0.5);
    }
  }
}
