body,
button,
input,
select,
textarea {
  /* font-weight: 300; */
  font-size: 14px;
  font-family: 'LXGW WenKai Screen', sans-serif;
  color: var(--fg);
}

:root {
  --gray: #928374;
  --red: #9d0006;
  --red-light: rgb(165, 61, 64);
  --green: #79740e;
  --yellow: #b57614;
  --blue: #076678;
  --purple: #8f3f71;
  --aqua: #427b58;
  --black: #3c3836;
  --fg: #3c3836;
  --white: #ffffff;
}

[role='button'] {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  padding: 4px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  /* min-width: 3rem; */
  text-align: center;

  &:hover {
    background-color: var(--red-light);
    /* color: var(--white); */
  }

  &:not(:active),
  &:not(:hover) {
    transition: background-color 100ms step-end;
  }

  &:active {
    background: var(--red-light);
    /* color: var(--white); */
  }
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  
  .top-bar {
    position: sticky;
    top: 0;
    left: 0;

    display: grid;
    gap: 6px;
    grid-template-columns: auto 1fr;
    height: 48px;
    align-items: center;

    color: #fff;
    background-color: var(--red);

    padding-left: 1rem;
    padding-right: 1rem;

    & .title {
      text-align: center;
      font-size: 1.5rem;
    }

    & .search {
      display: flex;
      justify-content: flex-end;

      & input {
        padding: 4px 6px;
        width: 50%;
        min-width: 100px;
      }
    }
  }
}

.hanzi-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 48px);
  display: grid;
  grid-template-rows: auto 1fr minmax(5rem, auto);

  .hanzi-wrapper {
    position: relative;

    .hanzi {
      display: flex;
      justify-content: center;

      font-size: 8rem;
      line-height: 1;
      padding: 2rem;
    }

    .pinyins {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .tag {
        border-radius: 4px;
        border: 1px solid var(--gray);
        padding: 6px 8px;
        font-size: 1.5rem;
      }
    }
  }


  .explanations {
    margin-bottom: 2rem;
    word-break: break-all;
    line-height: 2;
    font-size: 1.5rem;

    & p[row-index='0'] {
      font-size: 2rem;
    }
  }

  .tools {
  }

  .next-button {
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;

  & [role='button'] {
    font-size: 4rem;
    padding: 0.5rem 1rem;
  }
}
